{% extends 'base.html' %}
{% block content %}

<div class="sales-wrapper">
  <div class="sales-top">
    <p class="heading">KlemOil Tech Administration</p>
  </div>

  <div class="app">
    <h3 class="table-title">SALES</h3>

    <a href="{% url 'salesList' %}">Daily Sales</a>
    <a href="{% url 'addsales' %}" id="add"><span class="add">+ </span>Add Sales</a>
  </div>

  <div class="app">
    <h3 class="table-title">Collected Items</h3>

    <a href="{% url 'collectedList' %}">Items Collected</a>
    <a href="{% url 'addsales' %}" id="add"><span class="add">+ </span>Add Item</a>
  </div>
</div>

{% endblock content %}