{% extends 'base.html' %}
{% block content %}

<div class="section">
  <h3 class="heading">Filter Daily Sales Record</h3>

  <form action="" method="GET" class="search-form">
  {% comment %} {% csrf_token %} {% endcomment %}
      <input class="input" type="text" name="customer_name" id="" placeholder="search customer">
      <select class="input" name="item_sold" id="">
          <option selected>choose...</option>
          {% for it in items %}
              <option value="{{it}}">{{it}}</option>
          {% endfor %}
      </select>
      <label for="">From</label>
      <input class="input" type="date" name="date_min" id="">
      <label for="">To</label>
      <input class="input" type="date" name="date_max" id="">
      <label for="">Get Debtors</label>
      <input class="checkbox" type="checkbox" name="debtors" id=""><br><br>
      <input type="submit" id="search" value="Search">
  </form>

  <center>
  <table class="table table-striped search-table">
    <thead class="thead-dark">
      <tr>
        {% comment %} <th scope="col">S/N</th> {% endcomment %}
        <th scope="col">Customer Name</th>
        <th scope="col">Item Purchased</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Have Paid</th>
        <th scope="col">Date Purchased</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for sale in sales %}
    <tbody>
          <tr>
          {% comment %} <th scope="row">{{sale.id}}</th> {% endcomment %}
          <td><strong><a href="{% url 'salesUpdate' sale.id %}">{{sale.customer_name}}</a></strong></td>
          <td>{{sale.item_purchased}}</td>
          <td>{{sale.quantity}}</td>
          <td>{{sale.total_price}}</td>
          <td>{{sale.payment_method}}</td>
          {% if sale.have_paid %}
          <td style="color: green;">{{sale.have_paid}}</td>
          {% else %}
          <td style="color: red;">{{sale.have_paid}}</td>
          {% endif %}
          <td>{{sale.date_purchased}}</td>
          <td style="color: red; font-weight: 900; font-size: 2.5rem; cursor: pointer;">&#215;</td>
          </tr>
    </tbody>
    {% empty %}
          <h2>No Items in Sales Yet</h2>
    {% endfor %}
  </table>
  </center>
</div>
{% endblock content %}